aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
html-telegraph-poster
lyricsgenius
motor
pillow
psutil
pykeyboard
pyrogram
py-tgcalls
python-dotenv
pytube
pyyaml==5.3.1
requests
spotdl
spotipy
tgcrypto
youtube-search-python

git+https://github.com/HellBoy-OP/yt-dp-fork